# Virtual Environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and output
logs/
output/
*.log

# OS specific files
.DS_Store
Thumbs.db

# Ignore ROMs
roms/*/*.gb
roms/*/*.gbc
roms/*/*.gba
roms/*/*.nes
roms/*/*.snes
roms/*/*.smc
roms/*/*.md
roms/*/*.smd
roms/*/*.n64
roms/*/*.z64
roms/*/*.v64
roms/*/*.bin
roms/*/*.cue
roms/*/*.iso
roms/*/*.ccd
roms/*/*.img
roms/*/*.sub
roms/*/*.ram

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
